version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: user-point-ms-db
    ports: 
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: user_db
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: