.pageTitle {
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
  margin-top: 0;
  color: #333;
}

.submitButton {
  padding: 10px 24px;
  background-color: #28a745; /* 登録とは色を変えて緑色に！ */
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  width: 100%; /* ボタンを横幅いっぱいに */
}

.submitButton:disabled {
  background-color: #a5d8b2;
  cursor: wait;
}

.cardWrapper {
  margin-top: 24px;
}